# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
storybook-static
coverage
storybook-report.json

# Editor directories and files
.vscode/*
!.vscode/custom.code-snippets
!.vscode/settings.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.pnpm-store
.pnpm-store
tsconfig.tsbuildinfo
reports